* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    background-color: white;
    height: auto;
    font-size: 16px;
}

body {
    max-width: 1440px;
    margin: 0px;

}

/*  Header  */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 79px;
    margin-bottom: 35px;
}

.logo {
    width: 61px;
    padding: 30px 50px 30px 30px; 
    gap: 10px;
}

nav {
    width: 24%;
    padding: 0px 40px 0px 50px;
    justify-content: flex-end;
}

nav, .box {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 68px;
}

a.box {
    margin: 0px;
}

.box {
    width: auto;
    height: 35px;
    padding-top: 15px;
}

.box:hover {
    border-top: 2px solid #0065FC;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    width:  100%;
    max-width: 1440px;
    gap: 35px;
}

/*  Section Info et recherche  */
.info-group {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 30px;
    gap: 8px;
}

h1 {
    font-size: 1.56em;
    font-family: 'Raleway';
    line-height: 25.83px;
    margin: 0px;
}

p {
    font-size: 1.14em;
    font-family: 'Raleway';
    line-height: 18.78px;
    margin: 0px;
}

form {
    margin-left: 30px;
}

.form-content {
    display: flex;
    flex-direction: row;
    width: 26%;
    height: 49px;
    border-radius: 15px;
}

.form-img {
    width: 5%;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
}

form input {
    border: 1px solid #F2F2F2;
    border-right: transparent;
}

.placeholder {
    font-size: 1.05em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.form-button {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.12em;
    line-height: 21.13px;
    text-align: center;
}

.filters {
    margin-left: 30px;
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-title {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.12em;
    font-family: 'Raleway';
    line-height: 21.13px;
}

.filter-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-inline: 19px;
    border-radius: 35px;
    border: 2px solid #F2F2F2;
    font-size: 1.06em;
    line-height: 19.96px;
    font-weight: bold;
    gap: 10px;
    white-space: nowrap;
}

.icons {
    width: 3.18%;
    height: 22px;
    position: relative;
}

.icon-bill {
    width: 22px;
    height: 16.26px;
}

.icon-person {
    width: 13.44px;
    height: 22px;
    bottom: 2px;
}

.icon-heart {
    width: 22px;
    height: 18.33px;
}

.icon-fire {
    width: 18px;
    height: 20.08px;
}

.button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 30px;
}

.info img {
    display: inline;
    border: 1px solid #F2F2F2 ;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 5.5px;
    top: -1px;
    position: relative;
}

/* Section hebergements et populaires  */
.hebergements-and-populars {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 644px;
    gap: 35px;
}

/* Hebergement  */
.hebergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 15px;
    gap: 30px;
    padding: 30px;
    margin-left: 30px;
}

h2 {
    font-size: 1.3em;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}

.grid-cards-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-hebergement {
    width: 96%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px 0px 15px 0px;
    gap: 4px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border: 5px solid white;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 5px 15px 0px 10px;
    gap: 13px;
}

.card-title {
    font-size: 1em;
    padding-top: 0px;
    margin: 0px;
}

.card-subtitle {
    font-size: 0.87em;
    margin: 0px; 
}

.card-rating {
    position: relative;
    display: flex;
    gap: 2px;
}

.fa-star {
    color: #0065FC;
    font-size: 0.81em;
}

.neutral-star {
    color: #F2F2F2;
}

h3 {
    margin: 0px;
}

.link-cards {
    text-decoration: none;
    color: black;
}

/* Populaires  */
.populars {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 25%;
    height: auto;
    padding: 30px;
    border-radius: 15px;
    gap: 30px;
}

.populars-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}

.fa-chart-line {
    color: #0065FC;
    position: relative;
    top: 5px;
    right: 5px;
    font-size: 18px;
}

.grid-cards-populars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
}


.card-popular {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 27%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border: 5px solid white;
}

.card-img-popular {
    width: 34%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.card-content-popular {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 13px 5px 5px 10px;
    gap: 50px;
}

.card-text-content-popular{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.card-rating-popular {
    position: relative;
    bottom: 15px;
}

/*  Activités  */
.activitys {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activitys h2 {
    margin-left: 30px;
}
 
.grid-cards-activity {
    display: grid;
    width: 95.7%;
    height: 380px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 30px;
}

.card-activity {
    width: 97%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.card-img-activity {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}

.activity-title {
    width: 90%;
    padding: 20px 19px 20px 19px;
    gap: 10px;
    margin: 0px;
    position: relative;
    bottom: 4px;
}

/* Footer  */
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 92%;
    height: 163px;
    position: relative;
    left: 60px;
    margin-top: 35px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 124px;
    padding: 20px;
    gap: 15px;
    
}

ul, .link-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    gap: 15px;
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0px;
}

/*  Media Queries */
@media (max-width: 1024px) {
    main {
        flex-direction: column;
        gap: 35px;
    }

    .main-container {
        gap: 50px;
    }

    .hebergements-and-populars {
        flex-direction: column;
        height: 48%;
        gap: 35px;
    }

    .hebergements {
        width: 88%;
        margin: 0px 30px 0px 30px;
    }

    .card-hebergement {
        width: 100%;
    }

    .populars {
        width: 88%;
        margin: 0px 30px 0px 30px;
    }

    .grid-cards-populars {
        display: flex;
        flex-direction: row;
    }

    .card-popular {
        width: 30%;
        height: auto;
    }

    .activitys {
        width: 94%;
    }

    .grid-cards-activity {
        width: 100%;
        height: auto;
    }

    .card-activity {
        display: block;
    }

    .card-img-activity {
        height: 74%;
    }
    
}

@media (max-width: 376px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    form {

    }

    .filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}