* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
}

.main-conteneur {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    width:  1440px;
    height: 1722.02px;
    margin: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 79px;
    margin-bottom: 30px;
    
}

.logo {
    width: 80px;
    height: 25px;
    padding: 30px 50px 30px 30px; 
    align-items: center;
}

a.box {
    margin: 0px;
}

.box {
    width: auto;
    height: 35px;
    padding-top: 15px;
}

.box:hover {
    border-top: 2px solid #0065FC;
}

.box:focus {
    border-top: 2px solid #0065FC;
    
}

nav {
    width: 344px;
    height: 35px;
    padding: 0px 50px 0px 50px;
    justify-content: flex-end;
    gap: 0px;
}
nav, .box {
    
    display: flex;
    margin: 5px 0px 20px 0px;
    text-decoration: none;
    color: black;
    gap: 68px;
}

.info-group {
    width: 1340px;
    height: 281px;
    gap: 35px;
    margin-bottom: 30px;
}

.headline {
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 53px;
    gap: 8px;
    margin-bottom: 35px;
}

h1 {
    font-size: 22px;
    font-family: 'Raleway';
    line-height: 25.83px;
    margin: 0px;
}

p {
    font-size: 16px;
    font-family: 'Raleway';
    line-height: 18.78px;
    margin: 0px;
}

form {
    margin-bottom: 35px;
}

.form-content {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    
}

.form-img {
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;

}

form input {
    border: 1px solid #F2F2F2;
    border-right: transparent;
}

.placeholder {
    color: black;
    font-weight: bold;
    text-align: center;
}

.form-button {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}


.filters {
    width: 758px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    gap: 15px;
}

.filter-title {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-family: 'Raleway';
    line-height: 21.13px;
}

  
.filter-button {
    display: inline;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-inline: 19px;
    border-radius: 35px;
    border: 2px solid grey;
    font-family: 'Raleway';
    font-size: 17px;
    line-height: 19.96px;
    font-weight: bold;
    gap: 10px;
    white-space: nowrap;
}

.icons {
    width: 22px;
    height: 22px;
    position: relative;
}

.icon-bill {
    width: 22px;
    height: 16.26px;
}

.icon-person {
    width: 13.44px;
    height: 22px;
    bottom: 2px;
}

.icon-heart {
    width: 22px;
    height: 18.33px;
}

.icon-fire {
    width: 18px;
    height: 20.08px;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px;
}

.info img {
    display: inline;
    border: 1px solid #F2F2F2 ;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 5.5px;
    top: 3px;
    position: relative;
}

.hebergements-and-populars {
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: 614px;
    gap: 40px;
}

.hebergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 871px;
    height: 614px;
    border-radius: 15px;
    gap: 30px;
    padding: 30px;
    margin-bottom: 35px;
}

h2 {
    width: 300.31px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}


.grid-cards-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-hebergement {
    display: flex;
    flex-direction: column;
    width: 250.33px;
    height: 207.25px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px 0px 15px 0px;
    gap: 4px;
}

.card-img {
    object-fit: cover;
    width: 240px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 250.33px;
    height: 64.25px;
    padding: 0px 15px 0px 15px;
    gap: 13px;
}

.card-title {
    font-size: 16px;
    position: relative;
    padding-top: 0px;
    line-height: 18.78px;
    margin: 0px;
}

.card-subtitle {
    font-size: 14px;
    line-height: 16.44px;
    margin: 0px;
    
}

.card-rating {
    position: relative;
    display: flex;
    top: 6px;
    gap: 2px;
}

.fa-star {
    color: #0065FC;
    font-size: 13px;
}

.neutral-star {
    color: #F2F2F2;
}

h3 {
    margin: 0px;
}

.link-cards {
    text-decoration: none;
    color: black;
}

.populars {
    background-color: #F2F2F2;
    width: 370px;
    height: 614px;
    padding: 30px;
    border-radius: 15px;
    gap: 30px;
}

.populars-title {
    display: flex;
    flex-direction: row;
    gap: 150px;
    white-space: nowrap;
}

.fa-chart-line {
    color: #0065FC;
}

.grid-cards-populars {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.card-popular {
    display: flex;
    flex-direction: row;
    width: 369px;
    height: 146px;
    border-radius: 20px;
    background-color: white;
}

.card-img-popular {
    width: 123px;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid white;
    object-fit: cover;
}

.card-content-popular {
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 110px;
    padding: 13px 5px 5px 10px;
    gap: 50px;
}

.card-text-content-popular{
    display: flex;
    flex-direction: column;
    height: 85px;
    gap: 5px;
}

 .card-rating-popular {
    position: relative;
    top: 10px;
    display: flex;
    gap: 2px;
 }

